<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>{% block title %} <!-- Title Name -->  #}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Stefan Will">

  <link rel="icon" href="{% static '/img/satellite.svg' %}" type="image/svg+xml">
  <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}">
</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <span class="navbar-brand mb-0 h1">
        <img src="{% static '/img/satellite.svg' %}" width=30 height=24 class="d-inline-block align-text-top" />
        Satellite Ephemerides
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Satellites</a>
          <a class="nav-link" href="/predictions">Next Hour Predictions</a>
          <a class="nav-link" href="/settings">Settings</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  {% block content %}<!-- Page content   -->{% endblock %}
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Stefan Will</span>
    </div>
  </footer>
</div>

</body>