{% extends "satellites/base.html" %}
{% block title %}Passes for {{satellite.name}}{% endblock %}
{% block content %}

<h5 id='header'></h5>

<table id="details" class="table table-striped compact nowrap">
</table>

<script type="module">
  import { createPassListTable } from '/static/scripts/main.mjs';

  document.addEventListener('DOMContentLoaded', function () {
    const from = luxon.DateTime.fromISO('{{t0|date:"c"}}');
    const to = luxon.DateTime.fromISO('{{t1|date:"c"}}');
    $('#header').text('Pass predictions for {{satellite.name}} between ' + from.toLocaleString(luxon.DateTime.DATE_SHORT) + ' and ' + to.toLocaleString(luxon.DateTime.DATE_SHORT) );

    createPassListTable("#details", {{ satellite.model.satnum }}, {{ visible_only | lower }} );
  });
</script>

{% endblock %}
