<!DOCTYPE html>
{% extends "satellites/base.html" %}
{% block title %} Pass Details for {{satellite.name}} at {{t0}} {% endblock %}
{% block content %}

<h3 id='header'/></h3>

<table id="timeline" class="table table-striped nowrap">
</table>

<script type="module">
  import { createPassDetailsTable } from '/static/scripts/main.js';

  const start = luxon.DateTime.fromISO('{{start|date:"c"}}')

  $('#header').text('Details for the pass of {{satellite.name}} on ' + start.toLocaleString(luxon.DateTime.DATE_SHORT) + ' at ' + start.toLocaleString(luxon.DateTime.TIME_WITH_SHORT_OFFSET));

  document.addEventListener('DOMContentLoaded', function () {
    createPassDetailsTable("#timeline", {{ satellite.model.satnum }}, "{{ start | date:'U' }}", "{{ end | date:'U' }}" );
  });
</script>

{% endblock %}
