{% extends "satellites/base.html" %}

{% block title %} Settings {% endblock %}

{% block content %}

<h5>Settings</h5>

<form method="post">
  {% csrf_token %}

  {{ form.as_div }}

  <button id="geolocate" type="button" class="btn btn-primary">Geolocate</button>

  <input type="submit" value="Save">
</form>

<script type="module">
  import '/static/scripts/main.js';

  document.getElementById('geolocate').addEventListener("click", function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        position => {
          document.getElementById('id_lon').value = position.coords.longitude;
          document.getElementById('id_lat').value = position.coords.latitude;
        },
        error => {
          alert("Geolocation failure: " + error.message);
        }
      );
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  })
</script>

{% endblock %}